<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyj.store.dao.QyjOrderGoodsMapper">
	<resultMap id="baseResultMap" type="com.qyj.store.entity.QyjOrderGoodsEntity">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="order_id" jdbcType="BIGINT" property="orderId" />
		<result column="product_id" jdbcType="BIGINT" property="productId" />
		<result column="product_title" property="productTitle" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<sql id="baseColumnList">
		id, user_id, order_id, product_id, product_title, price, number, create_time
	</sql>
	
	<!-- 根据订单获取订单商品 -->
	<select id="listOrderGoodsByOrderId" parameterType="java.lang.Long" resultMap="baseResultMap">
		select <include refid="baseColumnList" /> from qyj_order_goods where order_id = #{orderId}
	</select>

</mapper>