<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyj.store.dao.QyjSellOrderMapper">
	<resultMap id="baseResultMap" type="com.qyj.store.entity.QyjSellOrderEntity">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
		<result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
		<result column="modify_amount" jdbcType="DECIMAL" property="modifyAmount" />
		<result column="has_pay_amount" jdbcType="DECIMAL" property="hasPayAmount" />
		<result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
		<result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
		<result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone" />
		<result column="buyer_address" jdbcType="VARCHAR" property="buyerAddress" />
		<result column="buyer_message" jdbcType="VARCHAR" property="buyerMessage" />
		<result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
		<result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_user" jdbcType="TIMESTAMP" property="createUser" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_user" jdbcType="TIMESTAMP" property="updateUser" />
	</resultMap>

	<sql id="baseColumnList">
		id, order_number, order_amount, modify_amount, has_pay_amount, order_status, buyer_name, buyer_phone,
		buyer_address, buyer_message, pay_time, finish_time, remark, create_time, create_user, update_time,
		update_user
	</sql>

	<!-- 根据id获取订单 -->
	<select id="getSellOrderById" parameterType="java.lang.Long" resultMap="baseResultMap">
		select <include refid="baseColumnList" /> from qyj_sell_order where id = #{id}
	</select>

	<!-- 查询条件 -->
	<sql id="condition">
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="orderStatus != null and orderStatus != ''">
			and order_status = #{orderStatus}
		</if>
		<if test="orderNumber != null and orderNumber != ''">
			and order_number = #{orderNumber}
		</if>
		<if test="likeOrderNumber != null and likeOrderNumber != ''">
			and order_number like concat(concat('%',#{likeOrderNumber}),'%')
		</if>
		<if test="createTimeBegin != null">
			<![CDATA[and create_time >= #{createTimeBegin}]]>
		</if>
		<if test="createTimeEnd != null">
			<![CDATA[and create_time < DATE_FORMAT(date_add(#{createTimeEnd,jdbcType=TIMESTAMP}, interval 1 day), '%Y-%c-%d')]]>
		</if>
	</sql>

	<!-- 根据查询条件获取订单 -->
	<select id="listSellOrderByModel" parameterType="com.qyj.store.entity.QyjSellOrderEntity" resultMap="baseResultMap">
		select <include refid="baseColumnList" /> from qyj_sell_order where 1 = 1 <include refid="condition"/>
	</select>

	<!-- 更新订单 -->
	<update id="updateSellOrder" parameterType="com.qyj.store.entity.QyjSellOrderEntity">
		update qyj_sell_order <set>
			<trim suffix="" suffixOverrides=",">
			<if test="orderNumber != null">
				order_number = #{orderNumber,jdbcType=VARCHAR},
			</if>
			<if test="orderAmount != null">
				order_amount = #{orderAmount,jdbcType=DECIMAL},
			</if>
			<if test="modifyAmount != null and modifyAmount != 0">
				modify_amount = #{modifyAmount,jdbcType=DECIMAL},
			</if>
			<if test="hasPayAmount != null and hasPayAmount != 0">
				has_pay_amount = #{hasPayAmount,jdbcType=DECIMAL},
			</if>
			<if test="orderStatus != null">
				order_status = #{orderStatus,jdbcType=VARCHAR},
			</if>
			<if test="buyerName != null">
				buyer_name = #{buyerName,jdbcType=VARCHAR},
			</if>
			<if test="buyerPhone != null">
				buyer_phone = #{buyerPhone,jdbcType=VARCHAR},
			</if>
			<if test="buyerAddress != null">
				buyer_address = #{buyerAddress,jdbcType=VARCHAR},
			</if>
			<if test="buyerMessage != null">
				buyer_message = #{buyerMessage,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="payTime != null">
				pay_time = #{payTime,jdbcType=TIMESTAMP},
			</if>
			<if test="finishTime != null">
				finish_time = #{finishTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser},
			</if>
			<if test="createUser != null">
				create_user = #{createUser},
			</if>
			</trim>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<!-- 关联商品 -->
	<resultMap id="goodsRelationMap" type="com.qyj.store.entity.QyjSellOrderEntity">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
		<result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
		<result column="modify_amount" jdbcType="DECIMAL" property="modifyAmount" />
		<result column="has_pay_amount" jdbcType="DECIMAL" property="hasPayAmount" />
		<result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
		<result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
		<result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone" />
		<result column="buyer_address" jdbcType="VARCHAR" property="buyerAddress" />
		<result column="buyer_message" jdbcType="VARCHAR" property="buyerMessage" />
		<result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
		<result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_user" jdbcType="TIMESTAMP" property="createUser" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_user" jdbcType="TIMESTAMP" property="updateUser" />
		
		<!--关联订单产品表-->
		<collection property="sellProductList" column="id" select="com.qyj.store.dao.QyjSellProductMapper.listSellProductBySellId"/>
	</resultMap>
	
	<!-- 统计订单 -->
	<select id="countSellOrder" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(id) from qyj_sell_order
		<where>
			<include refid="condition" />
		</where>
		<if test="pageParam != null">
			${pageParam.queryCondition}
		</if>
	</select>
	
	<!-- 获取订单列表 -->
	<select id="listSellOrder" parameterType="java.util.Map" resultMap="baseResultMap">
		select <include refid="baseColumnList" /> from qyj_sell_order where 1=1
		<include refid="condition" />
		<if test="pageParam != null">
			${pageParam.queryCondition}
		    ${pageParam.orderByCondition}
		    ${pageParam.limit}
		</if>
	</select>
	
	<!-- 获取model获取关联产品的订单列表 -->
	<select id="listSellOrderAndProduct" parameterType="java.util.Map" resultMap="goodsRelationMap">
		select <include refid="baseColumnList" /> from qyj_sell_order where 1=1
		<include refid="condition" />
		<if test="pageParam != null">
			${pageParam.queryCondition}
			${pageParam.orderByCondition}
			${pageParam.limit}
		</if>
	</select>

	<!-- 插入订单 -->
	<insert id="insertSellOrder" parameterType="com.qyj.store.entity.QyjSellOrderEntity" useGeneratedKeys="true" keyProperty="id">
		insert into qyj_sell_order (order_number, order_amount, modify_amount, has_pay_amount, order_status,
				buyer_name, buyer_phone, buyer_address, buyer_message, pay_time, finish_time, remark,
				create_time, create_user, update_time, update_user)
		values (#{orderNumber}, #{orderAmount}, #{modifyAmount}, #{hasPayAmount}, #{orderStatus}, #{buyerName},
				#{buyerPhone}, #{buyerAddress}, #{buyerMessage}, #{payTime}, #{finishTime}, #{remark},
				#{createTime}, #{createUser}, #{updateTime}, #{updateUser})
	</insert>

	<!-- 获取SellId获取关联产品的进货单 -->
	<select id="getSellOrderAndProductBySellId" parameterType="java.lang.Long" resultMap="goodsRelationMap">
		select <include refid="baseColumnList" /> from qyj_sell_order where id = #{SellId}
	</select>

	<!-- 删除进货单 -->
	<delete id="deleteSellOrder" parameterType="java.lang.Long">
		delete from qyj_sell_order where id = #{SellId}
	</delete>
</mapper>