<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper    
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyj.store.dao.SysMenuMapper">
	
	<!-- Result Map 数据库映射到实体类  -->
	<resultMap id="tableMapToModel" type="com.qyj.store.entity.SysMenuModel" >
		<id column="id" property="id"/>
		<result column="parentId" property="parentId"/>
		<result column="name" property="name"/>
		<result column="menuType" property="menuType"/>
		<result column="menuCode" property="menuCode"/>
		<result column="sortNumber" property="sortNumber"/>
		<result column="url" property="url"/>
		<result column="status" property="status"/>
		<result column="remark" property="remark"/>
		<result column="createTime" property="createTime"/>
		<result column="updateTime" property="updateTime"/>
		<result column="createUser" property="createUser"/>
		<result column="updateUser" property="updateUser"/>
	</resultMap>

	<!-- tbaleColumns  所有列 -->
	<sql id="tableColumns">
		<trim suffix="" suffixOverrides=",">
			id, parentId, name, menuType, menuCode, sortNumber, url, status, remark,
			createTime, updateTime, createUser, updateUser,
		</trim>
	</sql>
	
	<!-- where 条件  -->
	<sql id="where">
     	where 1=1
	</sql>

	<!-- 查询条件  包含所有 -->
	<sql id="andOtherAll">
		<trim  suffixOverrides="," >
			<if test="sysMenuModel.id != null and sysMenuModel.id != '' " >
			and id =  #{sysMenuModel.id}
			</if>
			<if test="sysMenuModel.parentId != null and sysMenuModel.parentId != '' " >
			and parentId =  #{sysMenuModel.parentId}
			</if>
			<if test="sysMenuModel.name != null and sysMenuModel.name != '' " >
			and name =  #{sysMenuModel.name}
			</if>
			<if test="sysMenuModel.menuType != null and sysMenuModel.menuType != '' " >
			and menuType =  #{sysMenuModel.menuType}
			</if>
			<if test="sysMenuModel.sortNumber != null and sysMenuModel.sortNumber != '' " >
			and sortNumber =  #{sysMenuModel.sortNumber}
			</if>
			<if test="sysMenuModel.url != null and sysMenuModel.url != '' " >
			and url =  #{sysMenuModel.url}
			</if>
			<if test="sysMenuModel.status != null and sysMenuModel.status != '' " >
			and status =  #{sysMenuModel.status}
			</if>
			<if test="sysMenuModel.remark != null and sysMenuModel.remark != '' " >
			and remark =  #{sysMenuModel.remark}
			</if>
			<if test="sysMenuModel.createTime != null and sysMenuModel.createTime != '' " >
			and createTime =  #{sysMenuModel.createTime}
			</if>
			<if test="sysMenuModel.updateTime != null and sysMenuModel.updateTime != '' " >
			and updateTime =  #{sysMenuModel.updateTime}
			</if>
			<if test="sysMenuModel.createUser != null and sysMenuModel.createUser != '' " >
			and createUser =  #{sysMenuModel.createUser}
			</if>
			<if test="sysMenuModel.updateUser != null and sysMenuModel.updateUser != '' " >
			and updateUser =  #{sysMenuModel.updateUser}
			</if>
		</trim>
	</sql>

	<!-- 根据查询条件获取菜单 -->
	<select id="querySysMenuList" resultMap="tableMapToModel">
		select <include refid="tableColumns"/> from sys_menu
	</select>
	
	<!-- 根据id获取菜单 -->
	<select id="getMenuById" resultMap="tableMapToModel">
		select <include refid="tableColumns"/> from sys_menu where id = #{id}
	</select>
	
	<!-- 新增菜单 -->
	<insert id="insertMenu" parameterType="com.qyj.store.entity.SysMenuModel">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_menu (parentId, name, menuType, menuCode, sortNumber, url, status, remark,
			createTime, updateTime, createUser, updateUser)
		values (#{parentId}, #{name}, #{menuType}, #{menuCode}, #{sortNumber}, #{url}, #{status}, #{remark},
			#{createTime}, #{updateTime}, #{createUser}, #{updateUser})
	</insert>
	
	<!-- 更新菜单 -->
	<update id="updateMenu" parameterType="com.qyj.store.entity.SysMenuModel">
		update sys_menu set name = #{name}, menuType = #{menuType}, menuCode = #{menuCode}, sortNumber = #{sortNumber},
			remark = #{remark}, updateTime = #{updateTime}, updateUser = #{updateUser}, url = #{url}
		where id = #{id}
	</update>
	
	<!-- 删除菜单以及其子菜单 -->
	<delete id="deleteMenuAndChildById" parameterType="java.lang.Long">
		delete from sys_menu where id = #{id} or parentId = #{id}
	</delete>

	<!-- 根据userId获取用户对应的菜单 -->
	<select id="listMenuByUserId" resultMap="tableMapToModel" parameterType="java.lang.Long">
		select * from sys_menu m left join sys_relation rm on m.id = rm.relation_id left join sys_relation ur on ur.relation_id = rm.main_id
		where rm.relation_type = "ROLEMENU" and ur.relation_type = "USERROLE" and ur.main_id = #{userId};
	</select>
	
</mapper> 