<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyj.store.dao.SysUserMapper">

    <!-- Result Map 数据库映射到实体类  -->
    <resultMap id="tableMapToModel" type="com.qyj.store.entity.SysUserModel">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="enable" property="enable"/>
        <result column="real_name" property="realName"/>
        <result column="card" property="card"/>
        <result column="tel_phone" property="telPhone"/>
        <result column="open_id" property="openId"/>
        <result column="email" property="email"/>
        <result column="qq" property="qq"/>
        <result column="sex" property="sex"/>
        <result column="address" property="address"/>
        <result column="last_time" property="lastTime"/>
        <result column="last_ip" property="lastIp"/>
        <result column="ip_addr" property="ipAddr"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- tbaleColumns  所有列 -->
    <sql id="tableColumns">
        <trim suffix="" suffixOverrides=",">
            id, user_name, enable, real_name, card, tel_phone, email, qq, sex,
            address, last_time, last_ip, ip_addr, create_time, update_time, create_user, update_user,
        </trim>
    </sql>

    <!-- where 条件  -->
    <sql id="where">
     	where 1=1
	</sql>

    <!-- 查询条件  包含所有 -->
    <sql id="andOtherAll">
        <trim suffixOverrides=",">
            <if test="sysUserModel != null">
                <if test="sysUserModel.id != null">
                    and id = #{sysUserModel.id}
                </if>
                <if test="sysUserModel.userName != null and sysUserModel.userName != '' ">
                    and user_name = #{sysUserModel.userName}
                </if>
                <if test="sysUserModel.password != null and sysUserModel.password != '' ">
                    and password = #{sysUserModel.password}
                </if>
                <if test="sysUserModel.enable != null and sysUserModel.enable != 0 and sysUserModel.enable != -1 ">
                    and enable = #{sysUserModel.enable}
                </if>
                <if test="sysUserModel.realName != null and sysUserModel.realName != '' ">
                    and real_name = #{sysUserModel.realName}
                </if>
                <if test="sysUserModel.card != null and sysUserModel.card != '' ">
                    and card = #{sysUserModel.card}
                </if>
                <if test="sysUserModel.telPhone != null and sysUserModel.telPhone != '' ">
                    and tel_phone = #{sysUserModel.telPhone}
                </if>
                <if test="sysUserModel.email != null and sysUserModel.email != '' ">
                    and email = #{sysUserModel.email}
                </if>
                <if test="sysUserModel.qq != null and sysUserModel.qq != '' ">
                    and qq = #{sysUserModel.qq}
                </if>
                <if test="sysUserModel.sex != null and sysUserModel.sex != 0 and sex != -1 ">
                    and sex = #{sysUserModel.sex}
                </if>
                <if test="sysUserModel.address != null and sysUserModel.address != '' ">
                    and address = #{sysUserModel.address}
                </if>
                <if test="sysUserModel.lastTime != null">
                    and last_time = #{sysUserModel.lastTime}
                </if>
                <if test="sysUserModel.lastIp != null and sysUserModel.lastIp != '' ">
                    and last_ip = #{sysUserModel.lastIp}
                </if>
                <if test="sysUserModel.ipAddr != null and sysUserModel.ipAddr != '' ">
                    and ip_addr = #{sysUserModel.ipAddr}
                </if>
                <if test="sysUserModel.createTime != null">
                    and create_time = #{sysUserModel.createTime}
                </if>
                <if test="sysUserModel.updateTime != null">
                    and update_time = #{sysUserModel.updateTime}
                </if>
                <if test="sysUserModel.createUser != null">
                    and create_user = #{sysUserModel.createUser}
                </if>
                <if test="sysUserModel.updateUser != null">
                    and update_user = #{sysUserModel.updateUser}
                </if>
            </if>
        </trim>
    </sql>

    <!-- insertColumns 插入列 -->
    <sql id="insertColumns">
        user_name, password, enable, real_name, card, tel_phone, email, qq, sex, address, last_time,
        last_ip, ip_addr, create_time, update_time, create_user, update_user
    </sql>

    <!-- insertParams 插入参数 -->
    <sql id="insertParams">
        #{userName}, #{password}, #{enable}, #{realName}, #{card}, #{telPhone}, #{email}, #{qq}, #{sex}, #{address},
        #{lastTime}, #{lastIp}, #{ipAddr}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser}
    </sql>

    <!-- updateParams 修改参数 -->
    <sql id="updateParams">
        <trim suffix="" suffixOverrides=",">
            userName = #{userName},
            enable = #{sysUserModel.enable},
            realName = #{sysUserModel.realName},
            card = #{sysUserModel.card},
            telPhone = #{sysUserModel.telPhone},
            email = #{sysUserModel.email},
            qq = #{sysUserModel.qq},
            sex = #{sysUserModel.sex},
            address = #{sysUserModel.address},
            lastTime = #{sysUserModel.lastTime},
            lastIp = #{sysUserModel.lastIp},
            ipAddr = #{sysUserModel.ipAddr},
            updateTime = #{sysUserModel.updateTime},
            updateUser = #{sysUserModel.updateUser}
        </trim>
    </sql>

    <select id="querySysUserList" resultMap="tableMapToModel">
        select <include refid="tableColumns"/> from sys_user
        <include refid="where"/>
        <include refid="andOtherAll"/>
        <if test="pageParam != null">
            ${pageParam.queryCondition}
            ${pageParam.orderByCondition}
            ${pageParam.limit}
        </if>
    </select>

    <select id="querySysUserTotal" resultType="java.lang.Integer">
        select count(1) from sys_user
        <include refid="where"/>
        <include refid="andOtherAll"/>
        ${pageParam.queryCondition}
    </select>

    <!-- 根据userId获取用户信息 -->
    <select id="getUserModelById" parameterType="java.lang.Long" resultMap="tableMapToModel">
        select <include refid="tableColumns"/> from sys_user where id = #{userId}
    </select>

    <!--根据用户名获取用户信息-->
    <select id="getSysUserByUsername" parameterType="java.lang.System" resultMap="tableMapToModel">
        select id, user_name, password, enable, open_id from sys_user where user_name = #{userName}
    </select>

    <insert id="insertUser" parameterType="com.qyj.store.entity.SysUserModel">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_user (<include refid="insertColumns"/>) values (<include refid="insertParams"/>)
    </insert>

    <!-- 更新用户数 -->
    <update id="updateUser" parameterType="com.qyj.store.entity.SysUserModel">
        update sys_user set
        <trim suffix="" suffixOverrides=",">
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
            <if test="telPhone != null and telPhone != ''">
                tel_phone = #{telPhone},
            </if>
            <if test="enable != null and enable != ''">
                enable = #{enable},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="lastIp != null and lastIp != ''">
                last_ip = #{lastIp},
            </if>
            <if test="lastTime != null">
                last_time = #{lastTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </trim>
		where 1=1 and id = #{id}
    </update>

    <delete id="delUser">
        delete from sys_user where id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper> 